#app {
  display: flex;
  justify-content: center;
  align-items: center; /* Añadir este estilo para centrar verticalmente */
  min-height: 100vh; /* Establecer una altura mínima del viewport */
  background-color:lightpink;
  
}


.container {
  font-family: 'Roboto', sans-serif;   
  /* background: #fff; */
 
  width: min(500px, 60vw);
  padding: 20px;
  margin-top: 50px;
  
}

 /* Estilos para los ítems de la lista */
ul {
  list-style: none;
  padding: 0px;
  margin-bottom: 0px;   
}

li {
  margin: 5px 0;
}

ul li {
  border: 1px solid gainsboro;
  list-style:none;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
font-family: 'Dancing Script', cursive;
color:deeppink ;
font-size: 50px;
text-align: center;
}

input {
  border:none;
  padding: 10px;
  width:90%;
}




